# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Ignore gradle
.gradle

# Ignore Library
/Library

# Don't ignore .gitignore
!.gitignore

# Now exclude our type
!*.java
!*.txt
!*.sql
!*.gradle
!*.html

