# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/


# Ignore Library
/Library/

# Now exclude our type
!*.java
!*.txt
!*.sql
!*.gradle
!*.html

# Don't ignore .gitignore
!.gitignore


